body, td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.text-muted {
	text-align: center;
}

label {
	  font-size: large;
}

.jumbotron {
    background-color: #141010
}

.jumbotron .h1, .jumbotron h1 {
  color: #FFF;
}

.jumbotron p {
  color: #FFF;
}